.root {
    -fx-background-color: darkkhaki;
}

.label {
    -fx-font-size: 14;
    -fx-font-weight: normal;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-fill: brown;
}

#actionTarget {
    -fx-fill: firebrick;
}

#signIn {
    -fx-background-color: blue;
}

#signIn:hover {
    -fx-background-color: yellow;
}